<%-include('header')-%>

<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus voluptates adipisci dolorum perferendis nemo cumque
    voluptate qui unde et, quasi, modi optio non nobis dignissimos cum laudantium deleniti, mollitia recusandae.
</p>

<%-include('footer')-%>